{% autoescape off %}
You're receiving this email because you requested a password reset for your account on SecureAuth.

Please visit the link below to reset your password. This link is valid for 24 hours.

{{ protocol }}://{{ domain }}{% url 'uwamahoro_joseline:password_reset_confirm' uidb64=uid token=token %}

If you didn't request a password reset, you can ignore this email. Your password will remain unchanged.

For security reasons:
- Do not share this link with anyone
- Do not forward this email
- If you didn't request this, someone else may have access to your account

If you have any questions, please contact our support team.

Best regards,
The SecureAuth Team
{% endautoescape %}
