{% extends 'irumvajeanmarie/base.html' %}

{% block title %}Reset Password - UAS{% endblock %}

{% block content %}
<div class="card">
  <h2>Reset Password</h2>
  <p>Please enter your email address. We will send you an email to reset your password if your account exists.</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <label>{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <ul class="error-list">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <button type="submit">Send Reset Email</button>
  </form>
</div>
{% endblock %}
