{% extends 'irumvajeanmarie/base.html' %}

{% block title %}Change Password - UAS{% endblock %}

{% block content %}
<div class="card">
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <label>{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <ul class="error-list">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    <button type="submit">Change Password</button>
  </form>
  <br>
  <a href="{% url 'irumvajeanmarie:dashboard' %}" class="btn">Back to Dashboard</a>
</div>
{% endblock %}